{% if link.url %}
<a 
  id="{{ id ?? null }}"
  href="{{ url ?? link.url }}"
  target="{{ target ?? link.target }}"
  class="inline-block no-underline px-8 py-4 text-center text-lg font-bold bg-green-300 hover:shadow-md transition duration-500 {{ classes ?? null }}"
>
  {{- link.text -}}
</a>
{% endif %}