<div class="">
    <div class="container flex">
        <div>
            <p>{{ block.blockTitle }}</p>
            {% if block.blockDescription %}
                <div>{{ block.blockDescription }}</div>
            {% endif %}
            <a href="{{ block.blockLink.url }}" target="{{ block.blockLink.target }}">{{ block.blockLink.text }}</a>
        </div>
    </div>
</div>
