{# @var craft \craft\web\twig\variables\CraftVariable #}
{%- minify -%}
{% set baseUrl = alias('@baseUrl') ~ '/' %}
{% header "Link: <#{baseUrl}>; rel=dns-prefetch;,<#{baseUrl}>; rel=preconnect; crossorigin;" %}
<!DOCTYPE html>
{%- endminify -%}
<html lang="{{ craft.app.language |slice(0,2) }}" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <head>
        {%- minify -%}
            {% include "_layouts/_head.twig" %}
        {%- endminify -%}

        {# -- Inline CSS block used by templates for Critical CSS #}
        {# -- Only use Critical CSS & LoadCSS when we have it available to prevent flashing #}
        {% set inline_css = block("inline_css") %}
        {% if inline_css|trim is not empty %}
            <style>{{ inline_css | raw }}</style>
            <link rel="preload" href="{{ mix('/css/site.css') }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
            <noscript><link rel="stylesheet" href="{{ mix('/css/site.css') }}"></noscript>
            <script>!function(n){"use strict";n.loadCSS||(n.loadCSS=function(){});var o=loadCSS.relpreload={};if(o.support=function(){var e;try{e=n.document.createElement("link").relList.supports("preload")}catch(t){e=!1}return function(){return e}}(),o.bindMediaToggle=function(t){var e=t.media||"all";function a(){t.media=e}t.addEventListener?t.addEventListener("load",a):t.attachEvent&&t.attachEvent("onload",a),setTimeout(function(){t.rel="stylesheet",t.media="only x"}),setTimeout(a,3e3)},o.poly=function(){if(!o.support())for(var t=n.document.getElementsByTagName("link"),e=0;e<t.length;e++){var a=t[e];"preload"!==a.rel||"style"!==a.getAttribute("as")||a.getAttribute("data-loadcss")||(a.setAttribute("data-loadcss",!0),o.bindMediaToggle(a))}},!o.support()){o.poly();var t=n.setInterval(o.poly,500);n.addEventListener?n.addEventListener("load",function(){o.poly(),n.clearInterval(t)}):n.attachEvent&&n.attachEvent("onload",function(){o.poly(),n.clearInterval(t)})}"undefined"!=typeof exports?exports.loadCSS=loadCSS:n.loadCSS=loadCSS}("undefined"!=typeof global?global:this);</script>
        {% else %}
            <link rel="stylesheet" href="{{ mix('/css/site.css') }}">
        {% endif %}

        {%- minify -%}
            {% if not craft.app.config.general.devMode %}
                <!-- Google Tag Manager -->
                <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                    })(window,document,'script','dataLayer','GTM-XXXXXXX');</script>
                <!-- End Google Tag Manager -->
            {% endif %}

        {# -- </head> JS -- #}
        {% block head_js %}{% endblock %}
    </head>
    
    {# -- HTML Body -- #}
    <body class="leading-normal font-sans tracking-normal text-base text-black">
        {% if not craft.app.config.general.devMode %}
            <!-- Google Tag Manager (noscript) -->
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-XXXXXXX" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
            <!-- End Google Tag Manager (noscript) -->
        {% endif %}

        <div id="site">
            {# -- Header, including navbar.twig -- #}
            {% include "_partials/_header.twig" %}
    
            <main>
                {# -- Primary content block -- #}
                {% block content %}
                {% endblock %}
            </main>

            {# -- Footer -- #}
            {% include "_partials/_footer.twig" %}
        </div>

        {#-- Browser fixes --#}
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        {# -- Scripts -- #}
        <script src="{{ mix('/js/site.js') }}"></script>

        {# -- Inline JS -- #}
        {% block inline_js %}
        {% endblock %}
        
        {%- endminify -%}
    </body>
</html>
