<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ craft.app.language |slice(0,2) }}" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    {% block head %}
        {%- minify -%}
            <link rel="dns-prefetch" href="{{ currentSite.baseUrl }}">
            <!-- Google Tag Manager -->
            <link rel="dns-prefetch" href="//www.googletagmanager.com">
            <link rel="dns-prefetch" href="https://{{ getenv('IMGIX_DOMAIN') }}">
            <link rel="dns-prefetch" href="https://cdn.iubenda.com/">


            <link rel="preconnect" href="{{ currentSite.baseUrl }}" crossorigin>
            <link rel="preconnect" href="https://{{ getenv('IMGIX_DOMAIN') }}" crossorigin>
            <link rel="preconnect" href="https://cdn.iubenda.com/">

            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width,minimum-scale=1">
            <meta name="csrf-token-name" content="{{ craft.app.config.general.csrfTokenName }}">
            <meta name="csrf-token" content="{{ craft.app.request.csrfToken() }}">

            {#-- SEO Hook --#}
            {% hook "seo" %}

            {#-- Favicons --#}
            <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
            <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
            <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
            <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
            <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
            <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
            <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
            <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
            <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
            <link rel="icon" type="image/png" sizes="192x192"  href="/favicons/android-icon-192x192.png">
            <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
            <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
            <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
            <link rel="manifest" href="/manifest.json">
            <meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png">
            <meta name="msapplication-TileColor" content="#ffffff">
            <meta name="theme-color" content="#ffffff">

            <script>
                // Handle tabs gracefully as per https://hackernoon.com/removing-that-ugly-focus-ring-and-keeping-it-too-6c8727fefcd2
                function handleFirstTab(e) {
                    if (e.keyCode === 9) {
                        document.documentElement.classList.add('user-is-tabbing');

                        window.removeEventListener('keydown', handleFirstTab);
                        window.addEventListener('mousedown', handleMouseDownOnce);
                    }
                }

                function handleMouseDownOnce() {
                    document.documentElement.classList.remove('user-is-tabbing');

                    window.removeEventListener('mousedown', handleMouseDownOnce);
                    window.addEventListener('keydown', handleFirstTab);
                }

                window.addEventListener('keydown', handleFirstTab);
            </script>
        {%- endminify -%}

            {# -- Inline CSS block used by templates for Critical CSS #}
            {# -- Only use Critical CSS & LoadCSS when we have it available to prevent flashing #}
            {% set inline_css = block("inline_css") %}
            {% if inline_css|trim is not empty %}
            <style>{{ inline_css | raw }}</style>
            {% endif %}
            {{ craft.twigpack.includeCssModule("/dist/site.css", true) }}
            
            {%- minify -%}
            {% if not craft.app.config.general.devMode %}
                {% set siteId = '' %}
                {% switch craft.app.locale %}
                    {% default %}
                        {% set cookiePolicy = '' %}
                        {% set language = 'nl' %}
                        {% set content = "" %}
                {% endswitch %}

            <!-- Iubenda Cookie solution -->
                <script type="text/javascript">var _iub = _iub || {}; _iub.cons_instructions = _iub.cons_instructions || []; _iub.cons_instructions.push(["init", {api_key: "ZH5o8BtICFsUUJBVyx2e8gTrhKU6ehXA"}]);</script><script type="text/javascript" src="https://cdn.iubenda.com/cons/iubenda_cons.js" async></script>

                <script defer type="text/javascript">
                    var _iub = _iub || [];
                    _iub.csConfiguration = {
                        "consentOnContinuedBrowsing":false,
                        "perPurposeConsent":true,
                        "isTCFConsentGlobal":false,
                        "tcfVersion":2,
                        "lang":'{{ language }}',
                        "siteId": {{ siteId }},
                        "enableCMP":true,
                        "cookiePolicyId": {{ cookiePolicy }},
                        "askConsentIfCMPNotFound":false,
                        "banner":{ 
                            "acceptButtonDisplay":true,
                            "customizeButtonDisplay":true,
                            "acceptButtonColor":"#b1cc47",
                            "customizeButtonColor":"#35b0e4",
                            "rejectButtonDisplay":true,
                            "rejectButtonColor":"#35b0e4",
                            "backgroundColor":"#007299",
                            "position":"top",
                            // "content": "{{ content }}"
                        },
                        callback: {
                            onConsentGiven: function(){
                                // Fire Google tag manager after consent is given
                                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                                            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                                        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                                })(window,document,'script','dataLayer','GTM-XXXXXXX');
                            },
                            onBannerClosed: function () {
                                connsole.log(_iub);
                            }
                        }};
                </script>
                <script type="text/javascript" src="//cdn.iubenda.com/cs/tcf/stub-v2.js"></script>
                <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
            {% endif %}

            {# -- </head> JS -- #}
            {% block head_js %}{% endblock %}

        {%- endminify -%}
    {% endblock %}
</head>
<body {% if bodyClass is defined %}class="{{ bodyClass }}"{% endif %}>
{% block body %}{% endblock %}

<script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
{# -- Scripts -- #}
{{ craft.twigpack.includeJsModule("/dist/manifest.js") }}
{{ craft.twigpack.includeJsModule("/dist/vendor.js") }}
{{ craft.twigpack.includeJsModule("/dist/site.js") }}
{# -- Inline JS -- #}
{% block inline_js %}
{% endblock %}

<!-- Userback -->
{% if currentUser %}
    <script>
        Userback = window.Userback || {};
        Userback.access_token = '{{ craft.config.userbackToken }}';
        (function(id) {
            var s = document.createElement('script');
            s.async = 1;s.src = 'https://static.userback.io/widget/v1.js';
            var parent_node = document.head || document.body;parent_node.appendChild(s);
        })('userback-sdk');
    </script>
{% endif %}

{% block foot %}{% endblock %}
<!-- Iubenda Cookie en Privacy policy links script -->
<script defer type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.defer = true; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
</body>
</html>
