{% set navMain = craft.entries.section('nav').slug('main-nav').one %}
<nav class="container mx-auto">
    <div class="flex items-center justify-between -mx-4">
        <a href="{{ currentSite.baseUrl }}" class="flex-none mx-4 block no-underline py-3 lg:py-8">
            <img src="{{ globals.logo.one.url }}" alt="Logo Bruvo" class="h-10 lg:h-10 xl:h-auto">
        </a>
        <div class="mx-4 flex items-center">
            <div class="block py-3 lg:py-8">
                {% set nodes = craft.entries.section('nav').descendantOf(navMain).all %}
                {% for node in nodes %}
                {% switch(node.type.handle) %}
                    {% case "navItem" %}
                    {% set nodeActive = craft.app.request.segments|length > 0 and craft.app.request.segments|join('/') in node.navLink.url %}
                    <a class="no-underline inline-block text-lg pb-1" href="{{ node.navLink.url }}" title="{{ node.title }}" target="{{ node.navLink.target }}"><span class="{% if nodeActive %}  {% else %} {%- endif -%}">{{ node.title }}</span></a>
                    {% endswitch %}
                {% endfor %}
            </div>
        </div>
    </div>
</nav>
