{% extends '_layouts/error' %}

{% block code %}503{% endblock %}
{% block title %}{{ 'Service Unavailable'|t }}{% endblock %}

{% block image %}
    <div style="background-image: url('/svg/503.svg');" class="absolute pin bg-cover bg-no-repeat md:bg-left lg:bg-center">
    </div>
{% endblock %}

{% block message %}
    {{ 'Sorry, we are doing some maintenance. Please check back soon.'|t }}
{% endblock %}

{% block links %}
    <a class="inline-block"" href="/">
        <button class="bg-transparent text-grey-darkest font-bold uppercase tracking-wide py-3 px-6 border-2 border-grey-light hover:border-grey rounded-lg">
            {{ 'Go home'|t }}
        </button>
    </a>
    <a class="inline-block"" href="{{ craft.app.config.general.baseCpUrl }}/{{ craft.app.config.general.cpTrigger }}/login">
        <button class="bg-transparent text-grey-darkest font-bold uppercase tracking-wide py-3 px-6 border-2 border-grey-light hover:border-grey rounded-lg">
            {{ 'Log in'|t }}
        </button>
    </a>
{% endblock %}

